# Application
ENVIRONMENT=production
ENABLE_AUTOMATION=true
APP_MODE=poll
POLL_INTERVAL=300
LOG_LEVEL=INFO
ISSUE_START_TIME=2026-01-05 00:00:00
# MAX_ISSUES_PER_POLL=1

# GitLab
GITLAB_URL=
GITLAB_TOKEN=
GITLAB_ISSUE_SCOPE=all
# GITLAB_ISSUE_LABELS=UNIOSS 3

# AI Provider
AI_PROVIDER=openrouter
AI_API_KEY=
AI_MODEL=tngtech/deepseek-r1t2-chimera:free
AI_ENABLE_REASONING=true
AI_MAX_TOKENS=16000

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_TO_EMAIL=
